
<div class="main-content">
    <div class="container width">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">supervised_user_circle</i>
              </div>
              <h4 class="card-title">{{title}}</h4>
              <form (ngSubmit)="onSubmit()" [formGroup]="formMoto">
                <div class="container-fluid">
                    <div class="row">                
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Placas</label>
                                <input type="text" class="form-control"
                                  formControlName="placa">
                                  <p class="col text-danger" *ngIf="validarCampo('placa')">Placas requeridas</p>
                              </div>
                        </div>  
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Propietario</mat-label>
                                <mat-select  formControlName="propietarioId" >
                                  <mat-option *ngFor="let item of listPropietarios" [value]="item.id">
                                    {{item.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            
                                <p class="col text-danger" *ngIf="validarCampo('propietarioId')">Propietario requerido</p>
                            
                        </div>  
                        <div class="col-md-12">
                           
                                <mat-slide-toggle formControlName="estado">{{(formMoto.get('estado').value===true)? 'Bloqueado':'Habilitado'}} </mat-slide-toggle>                            
                           
                        </div>
                    </div>
                    <button mat-raised-button (click)="salir()" class="btn btn-danger pull-right">Cancelar</button>
                    <button mat-raised-button type="submit" [disabled]="!formMoto.valid" class="btn btn-primary pull-right"> {{modelo==undefined? 'Guardar':'Actualizar'}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>