<div class="main-content">
    <div class="container width">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">supervised_user_circle</i>
              </div>
              <h4 class="card-title">{{titulo}}</h4>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="formUsuario">

                <div class="container-fluid">
                    <div class="row">                
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Usuario</label>
                          <input type="text" class="form-control"
                            formControlName="user">
                            <p class="col text-danger" *ngIf="validarCampo('user')">Usuario requerido</p>
                        </div>
                      </div>                    
                    </div>
                 <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombres</label>
                          <input type="text" class="form-control"
                          formControlName="nombre">
                          <p class="col text-danger" *ngIf="validarCampo('nombre')">Nombre requerido</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Apellidos</label>
                          <input type="text" class="form-control"
                          formControlName="apellido">
                          <p class="col text-danger" *ngIf="validarCampo('apellido')">Apellido requerido</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Dirección</label>
                          <input type="text" class="form-control"
                          formControlName="direccion">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Teléfono</label>
                          <input type="text" class="form-control" formControlName="telefono">
                          <p class="col text-danger" *ngIf="validarCampo('telefono')">Teléfono requerido</p>
                        </div>
                      </div>
                    </div>       
                    <div class="row">
                        <div class="col-md-6">
                         <mat-form-field appearance="fill">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="rol">
                                <mat-option *ngFor="let rol of roles" [value]="rol.name">
                                    {{rol.name}}
                                    </mat-option>
                            </mat-select>
                            </mat-form-field>                     
                        </div>
                        <div class="col-md-3">
                          
                            <mat-slide-toggle formControlName="estado">{{(formUsuario.get('estado').value===true)? 'Bloqueado':'Habilitado'}} </mat-slide-toggle>                            
                            <!-- <p class="col text-danger" *ngIf="validarCampo('telefono')">Teléfono requerido</p> -->
                          
                        </div>
                        <div class="col-md-3" *ngIf="modelo">
                          
                          <button type="button" mat-raised-button (click)="resetear()" class="btn-sm btn-danger pull-right">Resetear contraseña</button>      
                          <!-- <p class="col text-danger" *ngIf="validarCampo('telefono')">Teléfono requerido</p> -->
                        
                      </div>
                      </div>                                                 
                    <button mat-raised-button (click)="salir()" class="btn btn-danger pull-right">Cancelar</button>
                    <button mat-raised-button type="submit" [disabled]="!formUsuario.valid" class="btn btn-primary pull-right"> {{modelo==undefined? 'Guardar':'Actualizar'}}</button>
                    <div class="clearfix"></div>
                  </div>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
