<div class="main-content">
    <div class="container width">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">supervised_user_circle</i>
              </div>
              <h4 class="card-title">Reporte de servicios</h4>             
            </div>
            <!-- <app-list-tabla [dataSource]="data"  [columnas]="columns" (onEditClick)="onclickEditar($event)"></app-list-tabla> -->
            <app-table-simple  [data]="data" [columns]="columns"  ></app-table-simple>
          </div>
        </div>
      </div>
    </div>
</div>
