
<div class="wrapper">
    <div class="sidebar" data-color="white" data-background-color="black" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar-cmp></app-sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar-cmp></app-navbar-cmp>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p>
           
        </ngx-spinner>
        <router-outlet></router-outlet>
        <div *ngIf="!isMap()">
            <!-- <app-footer-cmp></app-footer-cmp> -->
        </div>
    </div>
    <!-- <app-fixedplugin></app-fixedplugin> -->
</div>
